footer{
	min-height: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	background-color: rgba(0, 0, 0, .04);

	box-shadow: 10px 5px 5px rgba(100, 100, 100, 0.1);
}

footer div {
	margin: 20px;
}