/* ---------- Mode clair ---------- */
/* Commun à toutes les pages */
html {
	scroll-behavior: smooth;
	--couleur-principale: rgb(80, 58, 192);
	--couleur-principale-hover: rgb(110, 88, 222);
	--couleur-principale-focus: rgb(130, 108, 242);
}

body{
	font-family: 'Segoe UI', 'Calibri', sans-serif;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	background: rgb(250, 250, 250);
}

.affichagePrint{
	display: none;
}

h1{
	font-size: 25px;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 17px;
}

h4{
	font-size: 16px;
}

h5{
	font-size: 15px;
}

h6{
	font-size: 15px;
	margin: 0;
}

tr > td > ul{
	margin: 0;
}

.alignementVertical{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

img{
	max-width: 100%;
}

.important{
	font-weight: bold;
}

.telecharger, .imprimer{
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--couleur-principale);
	transition: all 0.2s;
}

.telecharger:hover, .imprimer:hover{
	background-color: var(--couleur-principale-hover);
}

.telecharger:focus, .imprimer:focus{
	background-color: var(--couleur-principale-focus);
}

.bouton-simple{
	color: white;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: none;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--couleur-principale);
	transition: all 0.2s;
}

.bouton-simple:hover{
	background-color: var(--couleur-principale-hover);
}

.bouton-simple:focus{
	background-color: var(--couleur-principale-focus);
}

.top{
	position:fixed;
	bottom:30px;
	right:30px;
	border-radius: 5px; /* Arrondi des bords */
	transition: all 0.2s;
}

.top img{
	width:50px;
}

.top:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

.modeSombre .top:hover{
	background-color: rgba(255, 255, 255, 0.05);
}

/* Header */
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0.03);
}

header h1{
	font-size: 30px;
}

header #bouton-menu-nav{
	display: none;
}

header, header .titre, header nav, header nav ul, header nav ul li{
	height: 100px;
	margin: 0;
}

header .titre{
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

#icon{
	height: 70px;
	padding-left: 10px;
}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

nav ul li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	font-size: 20px;
}

nav ul li a{
	text-decoration: none;
	color: black;
	cursor: pointer;
	padding: 20px;
	border-radius: 5px; /* Arrondi des bords */
	transition: all 0.2s;
}

nav ul li a:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

nav ul li a:focus{
	/* background-color: rgba(104, 33, 122, 0.3); */
	background-color: rgba(58, 58, 255, 0.5);
}

/* Footer */
footer{
	height: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	background-color: rgba(0, 0, 0, .04);
}

/* Main */
main{
	display: block;
	min-height: calc(100vh - 240px);
	margin: 0px;
	padding: 10px;
}

.tableDesMatieres a{
	font-weight: bold;
	/*color: black;*/
}

.tableDesMatieres p{
	margin: 5px;
}

.todo{
	padding: 10px;
	background-color: rgba(100, 100, 100, 0.1);
	font-weight: bold;
	color : red;
}

.note{
	padding: 10px;
	background-color: rgba(100, 100, 100, 0.1);
}

.note img{
	max-height: 16px;
}

.attention{
	padding: 10px;
	background-color: rgba(100, 100, 100, 0.1);
	font-weight: bold;
}

/* Page d'accueil */
.mainIndex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.mainIndex h1{
	margin: 0;
}

.mainIndex aside img{
	width: 500px;
}

/* Astuces et aides */
.recherche{
	display: flex;
	flex-direction: column;
}

.outils{
	margin-bottom: 50px;
}

.astuce{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 50px;
	font-weight: bold;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.01);
	color: black;
	border-radius: 5px; /* Arrondi des bords */
	transition: all 0.5s;
}

.astuce:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

.astuce:focus{
	background-color: rgba(58, 58, 255, 0.5);
}

.astuce img{
	height: 50px;
}

.logoAstuce, .logoAide{
	max-height: 200px !important;
	max-width: 200px !important;
}

.pageAstuce img, .pageAide img{
	max-height: 500px;
}

/* Page d'un language */
.pageMemento .logoMemento{
	max-height: 200px;
}

.script{
	font-family: Consolas, monospace;
}

.console{
	font-family: Courier New, monospace;
}

.perso{
	color: black;
	font-style: italic;
}

.version{
	font-weight: bold;
}

.contenu{
	margin-left: 8px;
	margin-bottom: 32px;
}

table{
	table-layout: fixed; /* Toutes les cases de même longueur */
	border-collapse: collapse;
	width: 90%;
	height: 50%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
td, tr, th{
	border : 1px solid black;
	width: auto;
	padding : 10px;
}

td{
	text-align: left;
}

/* Mementos */
.mementos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	padding: 20px;

	background-color: rgba(200, 200, 200, 0.1);

	border-radius: 20px; /* Arrondi des bords */
}

.mementos .memento{
	color: black;
	padding: 0;
	max-width: 160px;
	height: 210px;
	transition: all 0.5s;
	text-align: center;

	border-radius: 20px; /* Arrondi des bords */
}

.mementos .memento a{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	text-decoration: none;
	color: black;
	padding: 30px;
	max-width: 100px;
	height: 150px;
	transition: all 0.5s;
	text-align: center;

	border-radius: 20px; /* Arrondi des bords */
}

.mementos .memento a div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
}

.mementos img{
	max-width: 100px;
	max-height: 100px;
}

.mementos .memento:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

/* ---------- Mode sombre ---------- */
.modeSombre{
	background: rgb(30, 30, 30);
	color: white;
}

.modeSombre a{
	color: rgb(120, 180, 248);
}

.modeSombre span{
	color: white;
}

.modeSombre .bouton-simple{
	color: white;
}

/* Header */
.modeSombre header{
	background: rgba(255, 255, 255, 0.03);
}

.modeSombre header .titre{
	color: white;
}

.modeSombre header h1{
	color: white;
}

.modeSombre nav ul li a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.modeSombre nav ul li a:hover{
	background-color: rgba(255, 255, 255, 0.05);
}

.modeSombre nav ul li a:focus{
	/* background-color: rgba(104, 33, 122, .5); */
	background-color: rgba(58, 58, 255, 0.5);
}

/* Footer */
.modeSombre footer{
	background-color: rgba(255, 255, 255, 0.04);
}

/* Main */
.modeSombre td, .modeSombre tr, .modeSombre th{
	border : 1px solid white;
}

/* Mementos */
.modeSombre .mementos{
	background-color: rgba(200, 200, 200, 0.1);
}
.modeSombre .mementos a{
	color: white;
}

.modeSombre .mementos .memento:hover{
	background-color: rgba(255, 255, 255, 0.05);
}

/* Astuces et Aides */
.modeSombre .astuce{
	color: white;
	border-radius: 5px; /* Arrondi des bords */
	transition: all 0.5s;
}

.modeSombre .astuce:hover{
	background-color: rgba(255, 255, 255, 0.05);
}

.modeSombre .astuce:focus{
	background-color: rgba(58, 58, 255, 0.5);
}

/* A propos */
.mainAPropos section{
	margin-top: 50px;
	margin-bottom: 50px;
}

/* ---------- Affichage mobile ---------- */
@media screen and (max-width: 1200px){
	/* Commun à toutes les pages */
	body{
		font-size:12px;
	}

	.alignementVertical{
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.imprimer{
		display: none;
	}

	table tr{
		display:flex;
		flex-direction:column;
		width:100%;
		padding:10px;
	}
	
	table tr td, table tr th, .modeSombre table tr th, .modeSombre table tr td{
		width: 100%;
		border: none;
		padding: 5px;
		text-align: left;
	}

	/* Header */
	header{
		align-items: start;
	}

	header h1{
		font-size:20px;
	}

	/* Bouton de navigation */
	header #bouton-menu-nav{
		display: block;
		position: absolute;
		right: 16px;
		top: 24px;
		display: inline-block;
		cursor: pointer;
		background: transparent;
		border: none;
		padding: 10px;
		border-radius: 5px; /* Arrondi des bords */
		transition: all 0.2s;
	}

	header #bouton-menu-nav > div{
		height: 32px;
		width: 32px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.modeSombre header #bouton-menu-nav > div > div{
		background-color: white;
	}

	header #bouton-menu-nav:hover{
		background-color: rgba(0, 0, 0, 0.05);
	}

	.modeSombre header #bouton-menu-nav:hover{
		background-color: rgba(255, 255, 255, 0.05);
	}

	header #bar-nav-1, header #bar-nav-2, header #bar-nav-3{
		height: 5px;
		width: 100%;
		background-color: black;
		transition: 0.4s;
		border-radius: 5px;
	}

	header #bar-nav-1 {
		transform-origin: center;
	}
	
	header #bar-nav-3 {
		transform-origin: center;
	}
	
	header .ouvert #bar-nav-1{
		transform: translate(0, 14px) rotate(-45deg);
	}
	
	header .ouvert #bar-nav-2{
		opacity: 0;
	}
	
	header .ouvert #bar-nav-3{
		transform: translate(0, -13px) rotate(45deg);
	}

	header nav{
		display: none;
	}

	header nav ul{
		position:absolute;
		top:100px;
		right:0px;
		display:flex;
		flex-direction:column;
		justify-content: right;
		text-align:right;
		align-items:end;
		width:100%;
		height: auto;
		background-color: rgba(250, 250, 250, 0.9);
	}

	.modeSombre header nav ul{
		background-color: rgba(50, 50, 50, 0.9);
	}

	header nav ul li{
		width: 100%;
		height: 66px;
	}
	
	#icon{
		height:50px;
	}

	#img_nav{
		margin-top:10px;
		margin-right:10px;
		margin-bottom:16px;
		width: 32px;
	}

	/* Page d'un language */
	.pageMemento .logoMemento{
		max-height: 200px;
		max-width: 200px;
	}

}

/* ---------- Affichage PDF ---------- */
@media print {
	/* Commun à toutes les pages */
	html{
		--hauteur-papier-A4: calc(29.7cm - 2in);
	}

	.affichagePrint{
		display: block;
	}

	.decoration{
		position: fixed;
	}

	@page {
		size: auto;
		/*margin: 0;*/
	}

	body {
		font-size: 10pt;
		background: white;
		/*margin: 1cm;*/
		/*-webkit-print-color-adjust: exact;*/ /* Fonctionne sur Chrome */
    	/*print-color-adjust: exact;*/ /* Fonctionne sur Firefox */
	}

	.top{
		display: none;
	}

	.modeSombre{
		background: white;
		color: black;
	}

	.modeSombre td, .modeSombre tr, .modeSombre th{
		border : 1px solid black;
	}

	/* Header */
	header{
		background-color: transparent;
	}

	.modeSombre header h1, .modeSombre span{
		color: black;
	}

	header nav{
		display: none;
	}

	/* Main */
	button{
		display: none;
	}

	.tableDesMatieres a{
		text-decoration: none;
		font-weight: bold;
		color: black;
	}

	.tableDesMatieres p{
		margin: 0px;
	}

	.todo{
		display: none;
	}

	.note{
		padding: 10px;
		background-color: rgb(100, 100, 100, 0.1);
	}
	
	.attention{
		padding: 10px;
		background-color: rgb(100, 100, 100, 0.1);
	}

	/* Page d'un language */
	.pageMemento .logoMemento{
		max-width: 100px;
		max-height: 100px;
	}

	/* Footer */
	footer{
		display: none;
	}
  }